[2017-07-17 07:50] murata2makoto opened #2 "Is script covered?"
I am wondering if adding script information is in the scope of this document.  In other words, does "language metadata" cover script as well?   If we use RFC 5646, we can certainly include script information.  But some explicit wording about script would be nice.

Most international metadata formats provide a single representation for each
metadata piece.  Japan has often added a kana representati

[2017-07-25 12:00] r12a opened #4 "TAG discussion pointer"
The issue [Serialization of natural language in data formats such as JSON](https://github.com/w3ctag/design-reviews/issues/178) is not reachable by our notification system.

In lieu, this issue serves as a handy pointer to their issue location, and a reminder that that issue is there.

[2017-07-28 09:52] tobie commented on #4
For reference, related WebIDL issue: heycam/webidl#358.

[2017-08-02 15:36] r12a opened #7 "Editorial suggestions from Najib"
- Producer and consumer are used in a well defined way (section2). These terms are encountered two times earlier in §1.1, and even if the context is clear, I think it's better to indicate there that these words will be well defined later (section 2 in this case).

- §1.1, 2nd paragraph after the JSON example,
"[..] For each of the fields containing natural language text [..] there will be a langua

[2017-08-02 21:11] aphillips commented on #7
Please see the above commit. I think I have addressed all of the above. Please advise if I've missed anything.

[2017-08-08 16:48] r12a opened #9 "Would language +(sometimes) script information suffice for ambiguous cases?"
This issue uses examples at https://w3c.github.io/i18n-drafts/articles/strings-and-bidi/index.en
The ideas are not particularly coherent yet (apologies).

--
When the article inserts ALM at the start of a numeric string, it does so because it knows that the language is Arabic (and, importantly, not Persian, which uses the same script). Of course the application also needs to know that this is a ra

[2017-11-24 17:22] r12a opened #11 "Clarify what JSON-LD does and doesn't do"
3.1.3.2 Create a new datatype in JSON-LD
https://w3c.github.io/string-meta/#langapproach2

I think this section should start by saying that JSON-LD does something similar already, but only for language. Then show the example as JSON-LD, ie. without the dir stuff.

Then add the explanation of why this doesn't always work.

Then make the point that it doesn't support dir, which may look like `<show

[2017-11-24 18:03] aphillips commented on #11
Actually, JSON-LD doesn't really do what this section discusses. It provides two things: the ability to add an `@language` item to a [given context](https://json-ld.org/spec/latest/json-ld/#string-internationalization) (which would be a mechanism for setting a whole document to that language). It also provides the[ language map](https://json-ld.org/spec/latest/json-ld/#language-indexing) feature,

[2017-11-24 18:09] aphillips commented on #9
And overlooking the fact that e.g. the `lang` attribute doesn't affect how HTML renders the string, while the `dir` attribute does. That is, it may be helpful to glance at language metadata when direction metadata is not present (as a kind of fallback), but it doesn't necessarily solve the problem.

There are some excellent examples in the above comment. I think we should point out the "The book .

[2017-11-25 20:57] aphillips commented on #2
@murata0204 This is a good point. We don't make specific mention of script as separate metadata, although there is some mention of additional metadata needs:

I don't know that defining a specific script field is that useful as compared to fields for specific uses. For example, a pronunciation field to contain yomi (and usually used for linguistic or dictionary sorting of kanji strings). This fiel

[2018-02-01 11:21] iherman opened #12 "Example 3 is misleading v.a.v. JSON-LD"
The text before Example 5 gives the impression that example 5 is, in fact, in JSON-LD. Unfortunately, this is not true, because the `@dir` is not a valid keywords in JSON-LD 1.0 and is currently not included JSON-LD 1.1.

I have just raised an [issue](https://github.com/json-ld/json-ld.org/issues/583) for JSON-LD 1.1 to include a separate `@dir` keyword albeit without mapping into RDF that _cannot

[2018-02-01 11:40] HadrienGardeur opened #13 "Exemple 4 is incompatible with JSON-LD language maps"
The current example 4 is not valid JSON-LD if the title is defined in the context as a language map:
[code]

This returns the following error in the JSON-LD Playground:

Duplicating the language (map + `language`) also feels less than ideal in these examples.

[2018-02-23 11:35] tomerm opened #14 "Bidirectional structured text"
@aphillips @r12a @matial the use cases described in the current document (formats based on JSON, WebIDL, and other non-markup data languages) and best practices developed to provide a solution for such use cases ring the bells for me. @matial and myself have been tackling a slightly more general (a higher level if you wish) formatting problem uniquely associated with bidirectional scripts (i.e. Ar

[2018-07-25 09:25] r12a opened #17 "Bidi Isolation and Isolating Controls in Strings editorial comments"
https://w3c.github.io/string-meta/#controlsInStrings

This seems way to vague to me. Isolation is something that's pretty essential when the string is positioned in its target location: i think we're just saying that you shouldn't attach _isolating directional formatting characters_ to strings in order to apply isolation. Rather the target context should apply isolation around any inserted string.

[2019-02-04 04:16] dbaron opened #22 "section 4 (approaches for language) and section 5 (approaches for base direction) identify recommended practices differently"
Section 4 (approaches for language) and section 5 (approaches for base direction) identify which practices are recommended or not in very different ways.  Section 4 has a ✪ in the section heading to indicate which one is the recommended practice (although it doesn't have a ✪ for that section's subsection), whereas section 5 has text under each section heading saying one of:
* "This approach is NOT

[2019-02-04 04:18] dbaron commented on #22
I think this is also a bit confusing because the recommended approach in section 4 is actually an approach that addresses *both* language and base direction -- and it's not explicitly repeated in section 5.

[2019-02-04 04:47] dbaron opened #23 "section on document-level @language and @dir has confusing examples"
There are some issues with the examples in the [section on document level @language and @dir](https://w3c.github.io/string-meta/#provide-default-document-level-language-and-dir) that make it a bit confusing.

First, the example begins with a link whose text is "original example" but the link is broken; I think it should instead link to [section 1.3.1](https://w3c.github.io/string-meta/#an-example)

[2019-02-04 16:53] aphillips commented on #23
@dbaron Thanks for the comments. Some of this is the result of recent document reorganization, which is still in progress.

I fixed the broken link.

The examples on \@language/\@dir are all "valid" examples, although a couple are demonstrative of why you want a default. I will try to clarify. I will also break out localizability/language negotiation.

[2019-02-04 20:23] aphillips commented on #2
The section 'Script Subtags' should address this.

[2019-02-04 20:27] aphillips commented on #12
I've updated the text here (the document itself has been hugely reorganized in the past week). I agree that there are a number of potential action items. This issue being kept open because not yet ready to close.

[2019-02-04 20:35] aphillips commented on #14
@tomerm In recent edits we have added some low-level illustration of the simple/modest structure problems. Our document's focus is on low level data structures and file formats and the need for direction metadata. Higher level protocols and implementations need this in order to deal with the problems you highlighted in this issue.

While the concept of "bidi isolation" provides the necessary "fix"

[2019-02-04 20:36] aphillips commented on #17
have our changes addressed this?

[2019-02-04 20:40] aphillips commented on #22
I have merged sections 4 and 5 together and regularized their structure. The origin of this document is that Richard and I made a Frankendocument out of two very different ones we separately authored and then, in the past couple weeks, have been massively reorganizing. Hopefully the structural problems are now somewhat rectified. There are still some gaps in examples, pro/con text, and probably th

[2019-02-05 04:47] iherman commented on #12
@aphillips, note that, since then, the relevant [JSON-LD issue](https://github.com/json-ld/json-ld.org/issues/583) has been closed with no action. The overall feeling is that the missing directionality is a matter to be solved on the RDF level and adding some hack into what is, after all, a serialization of RDF is a mistake.

[2019-02-07 14:57] BigBlueHat commented on #23
Related to these examples, `@language` as a top-level key does not set the "default language" in JSON-LD as it is described here. The valid JSON-LD format is to use the `@context` space (as describe in the prose), so the example would start with:
[code]

Also, we are not planning (currently) to support `@dir` as implied here in the examples because the underlying RDF-based processing model does no

[2019-02-07 15:57] aphillips opened #24 "interpreted HTML typo?"
The example in section 3.2.4 of the 2019-02-07 draft shows:

"<span dir='ltr'>one שתיים three</span>"

Should it show the `dir` with a value of `rtl` for consistency with the above examples?

[2019-02-07 16:02] r12a commented on #24
That _makes_ it consistent with the above examples.  (You had changed some of them, i believe incorrectly, but i changed them back. They are all approached from the pov of bidi text in LTR, then go on to compare with RTL.)

[2019-02-07 16:10] aphillips commented on #24
A close reading shows that I'm wrong. When I previously changed the example, though, it helped illustrate RTL usage I think a bit better. The phrase "HTML and CSS" in Arabic is *in* Arabic and should have a reversed order, even though most of the characters are Latin script. But you're right that your current examples are LTR and I agree that "one TWO three" is less ambiguous an example.

[2019-02-15 11:11] r12a commented on #2
Closing the issue as resolved. Reopen if you disagree.

[2019-02-15 11:11] #2 closed, assigned to aphillips

[2019-02-15 13:47] iherman opened #26 "`Localizable` structure"
I am not sure what the `Localizable` structure is for. Shouldn't there be an extra `value` for the text itself? Or is it `LocalizableMetadata` on a text somewhere else?

[2019-02-15 13:50] iherman opened #27 "Recommending @language and @dir terms"
§2 recommends that usage of the `@language` and `@dir` JSON terms. However, the first is a JSON-LD keyword; the second isn't but, in a later version of JSON-LD, it may become one. On the other hand, JSON-LD is evolving in a direction to make it easy to have some sort of a "shell" specified in JSON-LD (e.g., an annotation structure) which explicitly includes an extension point where arbitrary JSON

[2019-02-15 13:51] iherman opened #28 "(editorial) is it a hashtag?"
In [§3.2.2](https://w3c.github.io/string-meta/#initial-latin) the text says 'her a hashtag' but the text just says "bidi" not "#bidi". Or does the Hebrew word means hashtag? Not clear from the text...

[2019-02-15 13:54] iherman opened #29 "(editorial) Why is the ordering incorrect?"
Example in [§3.2.3](https://w3c.github.io/string-meta/#bidirectional-text-ordering) claims that the second display of text in an RTL setting is incorrect. Is it? I am not sure why; I have the feeling that it _is_ correct in an RTL setting, but it of course creates a different entry in case the strings are ordered.

[2019-02-15 13:56] iherman opened #30 "Illustration missing?"
At the end of [§4.2.1](https://w3c.github.io/string-meta/#how-it-works-0) the text says:

Is there a missing illustration?

[2019-02-15 14:03] iherman opened #31 "RDF datatype example"
[§4.7.1](https://w3c.github.io/string-meta/#dir-approach-new-datatype) just says "it is not recommended". I think the text can be misunderstood. Indeed, the text currently reads as if this was a wrong idea in general, but I do not think it is.

Indeed, _if_ RDF is (finally...) extended by adding base direction to the text literals then the syntax used in (Example 2)[https://w3c.github.io/string-me

[2019-02-15 14:36] iherman commented on #12
@aphillips I looked at the latest document (dated February 13), and the example is still wrong. There are several issues.

(The example number has changed. It is now [Example 3](https://w3c.github.io/string-meta/#example-3), in [§5.2](https://w3c.github.io/string-meta/#provide-document-level-default-language). I have changed the title of the issue.)

- (minor) context is incomplete; it should at l

[2019-02-15 14:44] iherman commented on #13
There are actually several problems with the example:

- using a direction value leads to errors anyway, as described in https://github.com/w3c/string-meta/issues/12#issuecomment-464071758;
- even if the direction term is removed it is _not_ valid to use a language tag as a key _and_ repeat this information in the value. Using a language tag key means that the value _must_ be a single string (as s

[2019-02-18 22:44] aphillips commented on #31
I agree. A better statement would probably be "less feasible alternative" or even "not currently available"

[2019-02-18 22:48] aphillips commented on #30
Addressed in version 2019-02-18. There was a link in the previous version that respec failed to stringify properly---probably because the link was also broken. I removed the sentence while incorporating text from elsewhere. Please reopen if needed.

[2019-02-18 22:58] aphillips commented on #29
That is probably something we should explain better. You're correct, of course, that the reordering here is "correct" in either direction, depending on the base direction expected by the reader. The problem occurs when the reordering violates expectations or results in words landing out of context.

I use different examples on an internal educational page:

[code]

Maybe here it is enough to say t

[2019-02-18 23:00] aphillips commented on #28
I was wondering the same thing myself. I think it's a leftover, since the hashtag would be an example of "opening punctuation" (vs. "final punctuation" in the previous section--which might need to say "opening and final punctuation"??)

[2019-02-18 23:05] aphillips commented on #27
I've held off on fixing the best practices for a few days and these two you identify are just not the right thing. I tend to think we have some BPs and then we have some "proposed actions". The proposed action here would be "add `@dir` to `@context` in JSON-LD" as a reserved keyword or, failing that, recommend its use as a "de facto" keyword. That still leaves non-JSON-LD-based document formats, f

[2019-02-18 23:17] aphillips commented on #26
The structure is a WebIDL dictionary. cf. https://heycam.github.io/webidl/#idl-dictionaries

Effectively what our document says is: if you define a natural language string field, you can use `Localizable` in your WebIDL definition. The effect is that your object "someStringValue" (if it is "`Localizable`") has a text attribute, such as a USVString, plus at least two fields `language` and `dir`. Pr

[2019-02-18 23:18] #24 closed, assigned to r12a

[2019-02-19 06:05] iherman commented on #31
I would opt for a "not currently available" with possibly a note saying that this approach, or something similar, may be adopted later.

I hope to be abke to rause this i18n issue of RDF at the relevant W3C workshop in Berlin in a few weeks, b.t.w.

[2019-02-19 09:22] iherman commented on #30
Indeed, closing

[2019-02-19 09:22] #30 closed, assigned to nobody

[2019-02-19 09:44] iherman commented on #27
that will not happen (was discussed in the JSON-LD WG): JSON-LD serves, essentially, as a serialization of RDF. Because this keywords is meaningless in RDF, the group has decided not to add it to JSON-LD

Please do not recommend this, because it will fail. Please consider this:

[code]

is the valid idiom in JSON-LD to use a string with a valid language setting (see also the [playground example](h

[2019-02-19 09:48] iherman commented on #26
I understand that. But I think it is way cleaner to say something like

[code]

i.e., to produce an interface with the value and the respective attributes. I do not see how you would you would, otherwise "assign" these attributes to a text in a clean way.

It may be a matter of taste, of course. Maybe both approaches should be proposed, and it then depends on the specific API/JSON structure which

[2019-02-19 12:15] r12a commented on #29
Thanks for spotting this @iherman. Perhaps the new text is better?
https://w3c.github.io/string-meta/#bidirectional-text-ordering

[2019-02-19 12:26] r12a commented on #31
I made the change. Please check.
https://w3c.github.io/string-meta/#dir-approach-new-datatype

[2019-02-19 12:56] r12a commented on #28
It is indeed a hangover from previous text. Changed to 'such as a hashtag'.

I also worked on the examples.

Please check at https://w3c.github.io/string-meta/#initial-latin

[2019-02-19 13:19] iherman commented on #29
Thanks @r12a this is much clearer.

Except that I cannot figure out how on Earth that text with the spans ended up the way it shows on RTL, but I believe you:-) If it is possible to add a note with a hints on how that happened, that would be even better. Of course, the main subliminal message is: "if you are not careful, it can become incredibly messy so watch out!", and this messages come through

[2019-02-19 13:21] iherman commented on #31
Thanks! Closing.

[2019-02-19 13:21] #31 closed, assigned to aphillips

[2019-02-19 13:22] iherman commented on #28
Thanks!

[2019-02-19 13:22] #28 closed, assigned to r12a

[2019-02-19 14:01] r12a commented on #29
Don't believe me – your browser is doing it ;-)

I added a short explanation at the bottom of  https://w3c.github.io/string-meta/#bidirectional-text-ordering

[2019-02-19 15:12] iherman commented on #29
Thanks for the additional note, I can see what is happening...

My original comment, whereby

still holds :-)

[2019-02-19 15:12] #29 closed, assigned to r12a

[2019-02-20 16:26] aphillips commented on #26
I think we're talking past one another. But I take you point. Adding `value` as a field in the dictionary would make the structure completely consistent and specs could just define items as `Localizable` rather than dinking around with joining `Localizable` to local definitions. Note that the text has been handwaving about what the WebIDL is for and above commit is me starting to tidy that up.

[2019-02-20 16:27] aphillips commented on #22
Further edits (many many many further edits) have been committed. I'm going to close this comment as obsolete. But feel free to reopen if needed.

[2019-02-20 16:27] #22 closed, assigned to aphillips

[2019-03-24 03:07] zoltankonder commented on #27
Hello @aphillips and @iherman !

Let me quote from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

Regarding the quotes above I must say there is **no need** for any of this! It is perfectly fine declaring the direction and language in HTML as it is already stated on [https://www.w3.org/Inter

[2019-03-24 04:20] zoltankonder commented on #27
@BigBlueHat I just found your reference to [https://github.com/w3c/json-ld-syntax/issues/11](https://github.com/w3c/json-ld-syntax/issues/11) and it is useful, specially the comment of @gkellogg where he noted clearly that:

I don't understand why this is still a discussion and why some of you keep pushing for something which is totally unnecessary. Will be nice to close all discussion regarding t

[2019-03-24 09:57] zoltankonder commented on #27
Hello @aphillips and @iherman !

Let me quote from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps);

Regarding the quotes above I must say there is **no need** for any of this! It is perfectly fine declaring the direction and language in HTML as it is already stated on [https://www.w3.org/Inter

[2019-03-24 23:28] aphillips commented on #27
@zoltankonder Use of HTML within a document is one mechanism that can be used to convey language and base direction of some content. I have no problem with a specification requiring the use of HTML markup for the purposes of conveying language and direction metadata, should that be a reasonable solution in that specification's context.

However, use of HTML presents difficulties when the content b

[2019-03-26 12:42] BigBlueHat commented on #27
JSON-LD's introduction of `@dir` is blocked by our reliance on a round-tripping-to-RDF requirement. However, I wouldn't throw it out its usage in the document entirely!

JSON-LD does provide the ability to properly state that one is using HTML in a string because it provides the ability to datatype strings--which is something "plain JSON" lacks.

For example, if someone chooses to use HTML, it's p

[2019-03-27 00:21] zoltankonder commented on #27
@aphillips Regarding your comment about the language subtag `ar-arb` I was truly surprised!
Let me explain why.

In the Language Subtag Registry at the [https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) URL you will find the following information:
[code]

Wondering a bit more on yo

[2019-03-27 00:25] zoltankonder commented on #27
@aphillips Regarding your comment about the language subtag `ar-arb` I was truly surprised!
Let me explain why.

In the Language Subtag Registry at the [https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) URL you will find the following information:
[code]

Wondering a bit more on yo

[2019-03-27 00:53] zoltankonder commented on #27
@aphillips Regarding your comment about the language subtag `ar-arb` I was truly surprised!
Let me explain why.

In the Language Subtag Registry at the [https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry) URL you will find the following information:
[code]

Wondering a bit more on yo

[2019-03-27 01:19] aphillips commented on #27
@zoltankonder excuse me but your comments read too much into my reply. I did not recommend the script subtag: I asked if you had intended it.

Perhaps you should closely read BCP47? My point was that your use of an extlang is unusual and not recommended. A script subtag is also not recommended for Arabic: you need hardly go back ten years. I wrote text to that exact effect in string-meta itself.

[2019-03-27 07:33] zoltankonder commented on #27
@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to distinguish between languages.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft.

I don't misunderstand @BigBlueHat at all! He straight proposed to build complete webpages with JSON-LD and th

[2019-03-27 07:37] zoltankonder commented on #27
@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to distinguish between languages.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft.

I don't misunderstand @BigBlueHat at all! He straight proposed to build complete webpages with JSON-LD and th

[2019-03-27 07:57] zoltankonder commented on #27
@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to distinguish between languages.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft.

One of your previous comment:

Let me address that comment. **No! Base direction and language metadata is not

[2019-03-27 08:23] zoltankonder commented on #27
@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to **distinguish between languages**.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft!

One of your previous comment:

Let me address that comment. **No! Base direction and language metadata is

[2019-03-27 08:26] zoltankonder commented on #27
@aphillips Your point about my use of an extlang is not welcome. I made that very clear. The use of extlang is perfectly fine even recommended to **distinguish between languages**.

It's feels like that you have conflict of interest from Amazon to W3C that's why you trying to push this draft!

One of your previous comment:

Let me address that comment. **No! Base direction and language metadata is

[2019-03-27 10:52] iherman commented on #27
@zoltankonder please do not misrepresent me.

Indeed, RDF does not include the `dir` attribute (more specifically, the base direction of a Literal cannot be specified in RDF) and, hence, this cannot be properly specified in JSON-LD either. But I do strongly disagree with your conclusion whereby "your string-meta W3C draft must be thrown out!". Please read the draft more thoroughly, and you will se

[2019-03-27 13:51] zoltankonder commented on #27
@iherman All I seen in this issue what you opened that you are in the playground playing with JSON-LD and reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections where the content clearly related to RDF and/or JSON-LD.

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.i

[2019-03-27 13:53] zoltankonder commented on #27
@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections where the content clearly related to RDF and/or JSON-LD.

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.gi

[2019-03-27 13:55] zoltankonder commented on #27
@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections that the content clearly related to RDF and/or JSON-LD.

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.git

[2019-03-27 13:57] zoltankonder commented on #27
@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections that the content clearly related to RDF and/or JSON-LD.

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.git

[2019-03-27 14:11] zoltankonder commented on #27
@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see under various issue sections where the content clearly related to RDF and/or JSON-LD.

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.gi

[2019-03-27 20:37] zoltankonder commented on #27
@iherman All I seen in this issue what you opened is that you are in the playground playing with JSON-LD and by reading the W3C draft [string-meta](https://w3c.github.io/string-meta) document I see  various issue sections where the content clearly related to RDF and/or JSON-LD.

Let me quote again from [https://w3c.github.io/string-meta/#best-practices-recommendations-and-gaps](https://w3c.github.

[2019-04-06 07:48] iherman opened #33 "Invalid JSON-LD example"
I am looking at the latest (Apr. 4) version of the document which (per https://github.com/WICG/web-share/issues/6#issuecomment-480399962) is about to be published. However, [Example 7](https://w3c.github.io/string-meta/#example-7-json-ld-language-indexing) is incorrect JSON-LD. It should be:

[code]

[2019-04-09 03:57] zoltankonder commented on #33
@iherman you said very recently that:

I going to call both MIT and W3C to remove @aphillips  from chairing the Internationalization Working Group if this document is going to be published without resolving the issues in the https://github.com/w3c/string-meta/issues/27

Addison Phillips has conflict of interest and this sting-meta document is only useful on Amazon.com which try to expand its busin

[2019-04-09 04:17] zoltankonder commented on #33
@iherman you said very recently that:

I going to call both MIT and W3C to remove @aphillips  from chairing the Internationalization Working Group if this document is going to be published without resolving https://github.com/w3c/string-meta/issues/27!

Addison Phillips has conflict of interest and this sting-meta document is only useful on Amazon.com which try to expand its business and push usel

[2019-04-09 04:22] zoltankonder commented on #33
@iherman you said very recently that:

I going to call both MIT and W3C to remove @aphillips  from chairing the Internationalization Working Group if this document is going to be published without resolving https://github.com/w3c/string-meta/issues/27!

Addison Phillips has conflict of interest and this sting-meta document is only useful on Amazon.com which try to expand its business and push usel

[2019-04-09 04:25] zoltankonder commented on #33
@iherman you said very recently that:

I going to call both MIT and W3C to remove @aphillips  from chairing the Internationalization Working Group if this document is going to be published without resolving https://github.com/w3c/string-meta/issues/27!

Addison Phillips has conflict of interest and this sting-meta document is only useful on Amazon.com which try to expand its business and push usel

[2019-04-09 04:42] zoltankonder commented on #33
@iherman you said very [recently](https://github.com/w3c/string-meta/issues/27#issuecomment-477094333) that:

I going to call both MIT and W3C to remove @aphillips from chairing the Internationalization Working Group if this document is going to be published without resolving https://github.com/w3c/string-meta/issues/27!

Addison Phillips has conflict of interest and this sting-meta document is on

[2019-04-09 04:46] zoltankonder commented on #33
@iherman you said very [recently](https://github.com/w3c/string-meta/issues/27#issuecomment-477094333) that:

I going to call both MIT and W3C to remove @aphillips from chairing the Internationalization Working Group if this document is going to be published without resolving https://github.com/w3c/string-meta/issues/27!

Addison Phillips has conflict of interest and this sting-meta document is on

[2019-04-09 04:52] zoltankonder commented on #33
@iherman you said very [recently](https://github.com/w3c/string-meta/issues/27#issuecomment-477094333) that:

I going to call both MIT and W3C to remove @aphillips from chairing the Internationalization Working Group if this document is going to be published without resolving https://github.com/w3c/string-meta/issues/27!

Addison Phillips has conflict of interest and this sting-meta document is on

[2019-04-09 06:13] zoltankonder commented on #33
@iherman
I fixed [his](https://github.com/w3c/json-ld-syntax/issues/105#issuecomment-445404208) example code and reminding you to [https://www.w3.org/International/techniques/authoring-html.en?open=language&open=textprocessing#textprocessing](https://www.w3.org/International/techniques/authoring-html.en?open=language&open=textprocessing#textprocessing) and [https://www.w3.org/TR/html5/dom.html#the

[2019-04-09 07:14] zoltankonder commented on #33
@iherman
I fixed [his](https://github.com/w3c/json-ld-syntax/issues/105#issuecomment-445404208) example code and reminding you to [https://www.w3.org/International/techniques/authoring-html.en?open=language&open=textprocessing#textprocessing](https://www.w3.org/International/techniques/authoring-html.en?open=language&open=textprocessing#textprocessing) and [https://www.w3.org/TR/html5/dom.html#the

[2019-04-10 16:43] r12a commented on #33
The commit at https://github.com/w3c/string-meta/commit/2c5311bf296ab1ab2dddc54ce34d00152c094bfd fixes Example 7.
It also seeks to clarify the scope of the document.
I'm therefore closing this issue.

[2019-04-10 16:43] #33 closed, assigned to aphillips

[2019-04-18 08:28] zoltan-konder commented on #27
DELETE THIS ISSUE AND REMOVE ALL MENTIONS FROM IT OR I WALK UP TO YOU WITH AN ASSAULT WEAPON AND SHOOT ALL OF YOU ONE BY ONE!

[2019-04-18 08:44] headshotking commented on #27
Yeah, kill the motherfuckers! I also recommend to delete the issue before this escalates! We have seen your code of conduct and we are loading our weapons to take a surprise visit to W3C. You are all disgusting pigs sucking up big corporations and developing bullshit! Delete the issue motherfucker!

https://www.youtube.com/watch?v=BczhT1ByrXA

DELETE THIS ISSUE BEFORE YOU ALL GET A BULLET IN THE H

[2019-04-18 08:47] headshotking commented on #27
Delete the issue you fucking disgusting pig! Delete the issue you piece of shit!

[2019-04-18 08:48] headshotking commented on #27
@aphillips you going to die fat head! Your brain will be on the floor and kill all your family also! Delete the issue before it's too late!

[2019-04-18 08:50] headshotking commented on #27
DELETE THE FUCKING https://github.com/w3c/string-meta/issues/27 ISSUE BEFORE I SHOT YOU IN THE FUCKING HEAD!

[2019-04-18 09:04] headshotking commented on #23
This @aphillips is a piece of shit! Need to kill him! Delete issue https://github.com/w3c/string-meta/issues/27 or DIE you fucking pig!

[2019-04-18 09:07] #27 closed

[2019-07-16 11:13] r12a commented on #17
Closing this, as i think it's stale.

[2019-07-16 11:13] #17 closed, assigned to nobody

[2020-03-04 10:06] himorin opened #39 "definition link of 'base direction' does not points to definition"
In section 1.3, why is this important?, 'base direction' is marked as definition in third paragraph, but it seems for me this part is not a definition of 'base direction' (rather a state of how important it is). So, it might be better to have some state to define the term.
Also, I feel a link (or mention) to section 3.2 is better to be included, that some may not be noticed that 'base direction' i

[2020-03-05 01:41] xfq commented on #39
We may be able to use some text from the UBA article here: https://www.w3.org/International/articles/inline-bidi-markup/uba-basics#context

[2020-06-30 15:19] r12a opened #45 "Restructuring proposal for NOTE publication"
I read through the document, looking for ways to help people get to the information more quickly and slim down the document, and came up with the following suggestions.  Compare this TOC to the current one at https://www.w3.org/TR/2019/WD-string-meta-20190611/

@aphillips what do you think ?
(In parallel i'll produce a PR for editorial changes, but it won't include this reorg.)

    1. Introductio

[2020-06-30 17:02] aphillips commented on #45
I like this generally.

The current section 3.2 is the part of the document I refer others to the most. I think it would be great to make an article out of it. But I'd probably want to integrate some of that material into what is now section 1.3 (why is this important) so that readers of string-meta have a clear view of the requirements in mind. Something along the lines of:

[2020-07-16 14:44] xfq opened #50 "Incorrect link"
In https://w3c.github.io/string-meta/#use_cases , the link to "Use cases for bidi and language metadata on the Web" doesn't seem to work.

[2020-07-22 11:31] #50 closed, assigned to nobody

[2021-03-31 14:52] r12a opened #53 "Plain strings section"
Perhaps a better name for 'plain strings' would be 'machine-read strings'.

I don't see a clear statement that WGs don't need to worry about strings that won't be read by end users – which i think is what started this rewrite effort.  The first sentence gets close, but doesn't punch the idea on the head.

I think that needs to say:

The definition of natural language string isn't confined to strin

[2021-04-13 04:59] marcoscaceres commented on #26
There are two use cases for `Localizable`, however. Consider, one might want to have:

[code]

Which, in JS would be:

[code]

Having  the `value` member predefined denies the `MyObject` from having a better named dictionary member `message`.

As opposed to:

[code]

Which results in the somewhat more verbose:

[code]

So, it's nice to have the generic `Localizable` to utilize when there is a gene

[2021-04-13 05:10] marcoscaceres opened #54 "Localizable should be defined in WebIDL"
If we do eventually get agreement on the shape of `Localizable` (https://github.com/w3c/string-meta/issues/26), it really ought to be normatively specified in the WebIDL spec. The current document is a non-normative, and seems to suggest each spec should define their own `Localizable`, which is definitely not what we want.

The original `Localizable` was sent to WebIDL as a pull request a few year

[2022-07-22 15:22] r12a opened #66 "Should we expect all strings to have direction metadata?"
Let's consider a practical scenario where we have a message file containing all the 2,000 natural language strings needed for an Arabic translation of an application's UI and error messages. Let's imagine that the message set contains 10 strings which would produce the wrong direction if first-strong heuristics were applied, or if all strings were expected to have a RTL base direction (eg. Arabic

[2022-07-22 16:56] aphillips commented on #66
I mostly agree with what you said above, but I want to call out that machines are not just limited in their ability to identify which strings need individual metadata but also in their ability to decide when that data is needed.

In designing (for example) a resource file format, a good optimization is to have a file-level default direction so that only specifically directional strings need to inc

[2022-07-22 17:11] aphillips commented on #53
All strings are "machine-read strings" from the point of view the machines read them? We can consider renaming `plain string` (I'm not overjoyed by the term) and tightening definitions or making clear our intent---apparently we aren't doing that for you yet 😃.

Argh. No, `letter_spacing` is *not* "natural language". It happens to be made of English word tokens, but it is a "program internal" strin

[2022-08-04 11:35] r12a commented on #66
My summary of this conversation is that we are not disagreeing with each other.   It should always be possible to associate metadata with each string.  It may not be necessary to actually associate a language/direction _value_ to all strings _in storage_ **_if_** resource-wide default metadata values can be associated with each string when the consumer tries to use it.

That may mean filling in th

[2022-11-23 17:03] aphillips opened #77 "add information from wot-td direction-guessing conversation"
see w3c/wot-thing-description/issues/1750